
 .gif{
          background-image: url(ezgif-1-900a4046b6.gif);
     background-position: center;
     height: 100vh;
     background-repeat: no-repeat;
     background-size: contain;
      }   
      
